@import "~bootstrap/scss/bootstrap";

// header
li {
    display: inline-block;

    .link {
        text-decoration: none;
        color: inherit;
        padding: 1rem;
    }
}

.logoHeader {
    width: 70px;
}

header {
    height: 300px;
}

//jumbo

.jumbo {
    background-image: url('../images/jumbotron.jpg');
}