@import "~bootstrap/scss/bootstrap";

// header
.headerList {
    li {
        display: inline-block;

        .link {
            text-decoration: none;
            color: inherit;
            padding: 1rem;
        }


    }
}


.link:hover {
    color: #0282f9;
    border-bottom: 5px solid #0282f9;
    padding: 60px;
}

.logoHeader {
    width: 70px;
}

header {
    height: 100px;
}

//jumbo

.jumbo {

    background-image: url('../images/jumbotron.jpg');
    height: 400px;
    object-fit: cover;
}

.fum {
    color: white;
    background-color: #0282f9;
    top: -3rem;
    position: relative;
}

.copertine {
    background-color: black;
}

.comicImg {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

// footer
.pippo {
    background-color: #0282f9;
}

.upperfooter {
    font-size: xx-small;

}

.backgrnd {
    background-image: url('../images/footer-bg.jpg');
    height: 500px;

}

.linkF,
.linkS {
    color: white;
    flex-wrap: wrap;

    li {
        list-style: none;
        color: grey;
        font-size: 10px;
    }
}

.linkT,
.linkF {
    color: white;

    li {
        list-style: none;
        color: grey;
        font-size: 10px;
    }

}

.linkFv {
    display: block;
    color: grey;
    font-size: 10px;
    flex-wrap: wrap;


}



.down {
    background-color: #303030;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;

}

.button {
    border-color: #0282f9;
    background-color: #303030;
    color: white;
    padding: 20px;
    margin-top: 30px;

}

.button:hover {
    background-color: #0282f9;
}

.follow {
    color: #0282f9;
}

.right {
    margin-top: 40px;

    li {
        list-style: none;
    }
}